@font-face {
    font-family: Pacifico;
    src: url("../fonts/Pacifico.ttf");
}

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

a:link {
    text-decoration: none;
}

.page-title {
    font-family: Pacifico, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 70px;
    letter-spacing: -2px;
    text-align: center;
    margin: 30px 0 45px 0;
    color: black;
}

.tag-title-container {
    font-family: Pacifico, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 35px;
}

.tag-title {
    color: white;
    background-color: black;
    padding: 2px 20px 10px 10px;

}

.page-title a {
    color: black;
}

.page-title a:hover {
    color: #131313;
}

.post-title {
    transition: 0.5s;
    -webkit-transition: 0.5s;

    position: relative;
    font-family: Pacifico, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 70px;
    letter-spacing: -2px;
    text-align: center;
    margin-bottom: 20px;
    color: black;
    border-bottom: solid 3px black;
    padding: 60px 0 75px 0;
    width: 100%;
}

.post-title.fixed {
    font-size: 30px;
    position: fixed;
    top: 0;
    z-index: 10;
    background: black;
    color: white;
    opacity: 0.7;
    padding: 3px 0 10px 0;
    margin-top: 0 !important;
}

.post-title.fixed .underlay {
    background-image: none !important;
}

.list-post-item {
    transition: 0.5s;
    -webkit-transition: 0.5s;

    color: black;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border: solid 3px black;
    margin-bottom: 25px;
    padding: 15px;
    min-height: 300px;
}

.list-post-item a {
    color: black;
    text-decoration: none;
}

.list-post-item p {
    text-align: justify;
}

.list-post-item .post-date {
    position: absolute;
    bottom: 10px;
}

.list-post-item:hover,
.list-post-item.hovered {
    /*border-style: dotted ;*/
    /*border-width: 3px;*/
    /*background-color: yellow;*/

    -moz-transform: scale(1.05);
    transform: scale(1.05);
}

.list-post-item#map:hover {
    border-style: solid;
    background-color: #9FBD98;
    color: white;
}

.tag-container {
    margin-left: -3px;
}

.underlay {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.underlay.repeat {
    filter: grayscale(100%);
    opacity: 0.1;
    background-size: auto;
    background-repeat: repeat;
}

.underlay.selectable {
    opacity: 0.4;
}

.post-container.mt {
    margin-top: 120px;
}

.post-content {
    background-color: white;
    height: 100%;
}

.post-content p {
    text-align: justify;
}

.post-content mark {
    background-color: rgba(165, 217, 255, 0.3);
}

.post-content img {
    max-width: 100%;
    display: block;
    margin: 25px auto;
}

.vertical-line {
    width: 100%;
    border-top: solid 3px black;
    margin-bottom: 15px;
}

.post-footer {
    border-top: solid 3px black;
    background: white;
    margin-top: 10px;
    padding: 40px 0 50px 0;
    color: black;

    /*background-image: url("../images/pattern-1.png");*/
    /*background-repeat: repeat;*/
    /*background-position: left top;*/
}

.post-footer .home-link {
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
}

.post-footer .home-link i {
    border: solid 3px white;
    border-radius: 100px;
    margin-left: -6px;
    margin-top: -6px;
    padding: 8px 12px 12px 8px;
}

.post-footer .home-link i:hover {
    border: solid 3px black;
}

.post-footer a {
    color: black;
    /*text-decoration: none;*/
}

.post-footer a:hover {
    color: black;
    /*text-decoration: none;*/
}

.post-footer .txt-right {
    text-align: right;
}

.pagination-custom {
    margin: 0 0 25px 0;
}

.pagination-custom .btn-group {
    float: right
}

.page-number {
    float: left;
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    border: solid 3px black;
    user-select: none;
    margin-right: 3px;
}

.btn-custom {
    color: white !important;
    background-color: black;
    border: solid 3px black;
    border-radius: 0;
}

.btn-custom:hover,
.btn-custom:focus {
    color: black !important;
    background-color: white;
    border: solid 3px black;
}

.btn-group .btn-custom {
    margin-left: 3px !important;
}

.grid-sizer,
.grid-item {
    width: 33.33%;
}

.grid-item-width2 {
    width: 66.66%;
}

.gallery-container {
    /*margin: 0 !important;*/
    padding: 0 !important;
}

.gallery-item {
    /*width: 33%;*/
    border: 0;
    margin: 0;
    /*vertical-align: top;*/
    padding: 5px;
    list-style: none;
    text-align: center;
    /*border: solid 3px black;*/
    /*background-color: blue;*/
    color: white;
}

.gallery-item img {
    display: block;
    width: 100%;
}

@media (min-width: 768px) {
    .container-small {
        width: 700px;
    }
}

@media (max-width: 768px) {
    .page-title,
    .post-title {
        font-size: 50px;
        padding: 20px 0 15px 0;
    }

    .tag-title-container {
        font-size: 20px;
        margin-top: 20px;
    }

    .list-post-item {
        margin-bottom: 10px;
    }

    .grid-item {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .grid-item {
        width: 100% !important;
    }

    .page-title,
    .post-title {
        font-size: 35px;
        padding: 15px 0 15px 0;
    }

    .tag-title-container {
        font-size: 15px;
        margin-bottom: 20px;
    }

    .post-footer {
        font-size: 80%;
    }
}
