

.slick-arrow {
    position: absolute;
    bottom: 25px;
    z-index: 1;
    margin-bottom: 10px !important;
    border-radius: 0;

    background-color: transparent;
    /*color: black;*/
    /*border: solid 3px black;*/

    color: white;
    border: solid 3px white;
}

.slick-arrow:hover {
    /*color: white;*/
    /*border: solid 3px white;*/

    color: black;
    border: solid 3px black;
}

.slick-prev {
    left: 0;
    margin-left: 10px;
}

.slick-next {
    right: 0;
    margin-right: 10px;
}
